body {
    margin: 0px;
    background-color: #06090d;
    font-family: 'Acme', sans-serif;

}

.margin-10 {
    margin: 10px;
}

.margin-0 {
    margin: 0px;
}

.d-none {
    display: none !important;
}

.background-white {
    background-color: white;
}

.color-white {
    color: white;
}

.background-img-white{
    background-color: rgb(239, 239, 239) !important;;
}

.header {
    background-color: #1d1d1e;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #80808063;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.input_header {
    position: relative;
    border: solid 1px;
    border-radius: 10px;
    width: 215px;
    padding: 7px;
    box-sizing: border-box;
}

.logo {
    height: 50px;
    width: 50px;
}

.logo-font {
    color: white;
}

.logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 153px;
}


#pokedex {
    color: white;
    display: inline-flex;
    padding: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    border-top-left-radius: 15px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 40px;
    height: 240px;
    width: 300px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/background.png);
    margin: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: all 75ms ease-in-out;
}

#pokedex :hover{
    transform: scale(1.07);
    transition: all 75ms ease-in-out;
}

.pokemon-img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 100%;
    transform: none !important;
}

.pokemon-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    object-fit: cover;
    background-color: #1d1d1e;
    border-radius: 100%;
    transform: none !important;
}

.detail-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 100px;
    z-index: 50;
}

.pokedex-box {
    display: flex;
    justify-content: center;
    transform: none !important;
}


.type-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: none !important;
}

.card-box {
    display: flex;
    width: 250px;
    justify-content: space-around;
    transform: none !important;
}

.card-name {
    text-align: center;
    color: white;
    transform: none !important;
}

.linkbar {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.detail-card {
    height: 600px;
    width: 500px;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 40px;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    margin: 10px;
}

.detail-card img:hover {
    height: 55px;
    width: 55px;
}

.footer {
    background-color: #1d1d1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: sticky;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: 2px solid #80808063;
}

.link_footer {
    display: flex;
    justify-content: center;
    padding: 3px;
    text-decoration: none;
    color: white;
    width: 174px;
}

.type {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    border: 2px solid grey;
    border-radius: 10px;
    transform: none !important;
}

.darkmode-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 153px;
}

.border-white {
    border-radius: 100% !important;
    border: 2px solid white !important;
}

.border-dark {
    border-radius: 100% !important;
    border: 2px solid #172333 !important;
}

.label-moon {
    width: 20px;
    padding: 5px;
    margin-left: 80px;
    cursor: pointer;
}

.label-sun {
    width: 20px;
    padding: 5px;
    cursor: pointer;
}

.overlay {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: #06090d70;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100vh;
    width: 100vw;
}

.overflow-hidden {
    overflow-y: hidden !important;
}

.detail-card-img {
    height: 160px !important;
    width: 160px !important;
    object-fit: cover;
    border-radius: 100%;
}

.detail-card-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    object-fit: cover;
    background-color: #1d1d1e;
    border-radius: 100%;
    top: 115px;
    position: absolute;
}

.detail-card-type-box {
    display: flex;
    width: 230px;
}

.size-box {
    display: flex;
    width: 415px;
    justify-content: space-between;
}

.detail-card-box {
    height: 316px;
    width: 500px;
    background-color: #1d1d1e;
    border-top-left-radius: 15px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 40px;
}

.change-pokemon {
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.turn-left-png {
    cursor: pointer;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turn-right-png {
    cursor: pointer;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon {
    display: flex;
    align-items: center;
    width: 60px;
    justify-content: center;
    height: 60px;
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 14px;
}

.stats-move-bar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: white;
    width: 400px;
    height: 50px;
    padding-left: 50px;
}

.stats-move-bar p:hover {
    cursor: pointer;
}

.detail-card-content {
    color: white;
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
}

.abilities {
    display: flex;
}

.abilitiy-box {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.move-box {
    overflow-x: hidden;
    overflow-y: scroll;
    word-wrap: break-word;
    height: 245px;
    width: 470px;
}

.size {
    background-color: rgba(255, 255, 255, 0.2);
    width: 80px;
    color: white;
    padding: 4px 0;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 8px;
    text-align: center;
}

.weigth {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    width: 80px;
    padding: 4px 0;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 8px;
    text-align: center;
}

.myChart {
    display: block;
    box-sizing: border-box;
    height: 150px;
    width: 300px;
}